:root {
  background: #f0f0f0;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.panel {
  border: solid 1px;
  padding: 1rem;
  background: silver;
  width: 400px;
}

.draggable {
  --xpx: calc(1px * var(--x));
  --ypx: calc(1px * var(--y));
  transform: translate(var(--xpx), var(--ypx));
  user-select: none;
}
