* {
  margin: 0;
  box-sizing: border-box;
}

:root {
  background: #f0f0f0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.page {
  display: flex;
  flex-flow: row nowrap;
  height: 100vh;
}

.toolbar {
  width: 3rem;
  background: #222;
  display: none;
}

.main-view {
  overflow: hidden;
  height: 100%;
  flex-grow: 1;
  position: relative;
  --scroll-x: calc(var(--x, 0) * 1px);
  --scroll-y: calc(var(--y, 0) * 1px);
  background: linear-gradient(180deg, lightblue 0, white 20%, white);
}

.space {
  transform: translate(var(--scroll-x), var(--scroll-y));
}

.card {
  position: absolute;
  padding: 1rem;
  width: 300px;
  min-height: 128px;
  background: #fff;
  border-radius: 0.25rem;
  border: solid 1px #999;
  box-shadow: 1px 1px 1px 1px #bbb;
}

.draggable {
  user-select: none;

  --x: 0;
  --y: 0;
  --xpx: calc(1px * var(--x));
  --ypx: calc(1px * var(--y));

  /* no scroll */
  transform: translate(var(--xpx), var(--ypx));

  /* --tx: calc(var(--xpx) + var(--scroll-x));
  --ty: calc(var(--ypx) + var(--scroll-y));
  transform: translate(var(--tx), var(--ty)); */
}
